BODY {
    FONT-FAMILY: SANS-SERIF;
    LINE-HEIGHT: 1.6;
    MARGIN: 0;
    PADDING: 0;
    BACKGROUND-COLOR: #F4F4F4;
    COLOR: #333;
}

HEADER {
    BACKGROUND-COLOR: #333;
    COLOR: #FFF;
    PADDING: 1REM 0;
    TEXT-ALIGN: CENTER;
}

MAIN {
    PADDING: 1REM;
    MAX-WIDTH: 800PX;
    MARGIN: 20PX AUTO;
    BACKGROUND: #FFF;
    BORDER-RADIUS: 5PX;
    BOX-SHADOW: 0 0 10PX RGBA(0, 0, 0, 0.1);
}

SECTION {
    MARGIN-BOTTOM: 20PX;
}

H1, H2, H3 {
    COLOR: #333;
}

H2 {
    BORDER-BOTTOM: 2PX SOLID #F4F4F4;
    PADDING-BOTTOM: 10PX;
}

PRE {
    BACKGROUND-COLOR: #EEE;
    PADDING: 10PX;
    BORDER-RADIUS: 5PX;
    OVERFLOW-X: AUTO;
}

CODE {
    FONT-FAMILY: 'COURIER NEW', COURIER, MONOSPACE;
}

UL {
    LIST-STYLE-TYPE: SQUARE;
    PADDING-LEFT: 20PX;
}

FOOTER {
    TEXT-ALIGN: CENTER;
    PADDING: 1REM 0;
    MARGIN-TOP: 20PX;
    FONT-SIZE: 0.8EM;
    COLOR: #666;
}
